---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 16px;
  font-family: Arial;
}

body {
  background: url("{{ site.baseurl }}/images/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: $black;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";



.btn.btn-secondary.btn-feel-pizza {
  background: none;
  border: 1px solid $white;
  border-radius: 6px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  transition: 0.2s;
  padding: 8px 96px;
}

.btn.btn-secondary.btn-feel-pizza:hover {
  background: rgba(255,255,255,.35);
}

.btn.btn-secondary.btn-feel-pizza:active {
  background: white;
  color: black;
}

.Main-Caption {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  font-weight: lighter;
  padding-top: 20rem;
}
