---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 16px;
  font-family: Arial;
}

body {
  height: 100vh;
  background: url("{{ site.baseurl }}/images/bgm.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: $black;
}

.center{
  margin: 0 auto;
}

.container-fluid{
  height: 100vh;
  background: url("{{ site.baseurl }}/images/bgm.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: $black;
  filter: grayscale(1);
  opacity: 0;
  -webkit-filter: grayscale(1);
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";



#btn-feel-p {
  background: none;
  border: 1px solid $white;
  border-radius: 6px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  transition: 0.2s;
  width: 100%;
}
#btn-feel-p>div{

  margin: 0 auto;
  display: block;
}

#btn-feel-p:hover {
  background: rgba(255,255,255,.35);
}

#btn-feel-p:active {
  background: white;
  color: black;
}

.block-caption{
  display: flex;
  justify-content: center;
  height: 18rem;

}
.main-caption {
  align-self: flex-end;
  color: white;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  line-height: 1.5em;
  font-weight: lighter;
  text-align:  center;
}
