---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: url("{{ site.baseurl }}/images/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: $black;
}

a.btn-one{
  background-color: $white;
  color: $white;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
}
a.btn-one:hover { background: rgba(255,255,255,.2); }
a.btn-one:active { background: white; }
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";


