<script type="text/javascript">
    $( document ).ready(function()
    {

        var varfeelp = $( "#btn-feel-p" );
        var varbground = $("#bground");
        var varcontentb = $("#bground");
        varcontentb.animate({'opacity':'1'},3000);

        varfeelp.mouseover(function()
        {
            varbground.css("-webkit-filter", "grayscale(0)");
        });

        varfeelp.mouseout(function()
        {
            varbground.css("-webkit-filter", "grayscale(1)");
        });
    });
</script>

