<script type="text/javascript">
    $( document ).ready(function()
    {





        var varfeelp = $( "#btn-feel-p" );
        var varbground = $("#bground");

        varbground.animate({'opacity':'0'},10,function(){

            $(this).animate({'opacity':'1'},2000);

        });


        var varfeelp = $( "#btn-feel-p" );
        var varbground = $("#bground");

        varfeelp.mouseover(function()
        {
            varbground.css("-webkit-filter", "grayscale(0)");
        });

        varfeelp.mouseout(function()
        {
            varbground.css("-webkit-filter", "grayscale(1)");
        });
    });
</script>

background: url("{{ site.baseurl }}/images/bgm.jpg");