<script type="text/javascript">
    $( document ).ready(function()
    {

        var varfeelp = $( ".btn-feel-pizza" );
        var varbground = $(".container-fluid");
        var varcontentb = $(".container");

        varcontentb.animate({'opacity':'1'},3000);

        varfeelp.mouseover(function()
        {
            varbground.css("-webkit-filter", "grayscale(0)");
        });

        varfeelp.mouseout(function()
        {
            varbground.css("-webkit-filter", "grayscale(1)");
        });
    });
</script>

