<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="main.scss"/>
    {% include head.html %}

  </head>

  <body>
  <div class="container-fluid">
      <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-12 block-caption">
                    <h1 class="main-caption">Feeling the taste of life</h1>
                </div>


                <div class="col-8 col-md-6 col-lg-4 col-xl-3 center">
                    <a href="#">
                        <button id="btn-feel-p" type="button" class="btn btn-secondary btn-feel-pizza"><div>Feel</div></button>
                    </a>
                </div>

            </div>
      </div>
  </div>
  </div>
  {% include footer.js.html %}
  {% include scripts.js.html %}
  {% include analytics.html %}
  </body>
</html>
