<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="main.scss"/>
    {% include head.html %}
  </head>

  <body>

  <div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="main-caption">Feeling the taste of life</h1>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 center">
                <a href="#">
                    <button type="button" class="btn btn-secondary btn-feel-pizza"><div>Feel</div></button>
                </a>
            </div>

        </div>
  </div>

    {% include footer.js.html %}
    {% include analytics.html %}
  </body>
</html>
