<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>

  <div class="container">
    <div class="row">
      <div class="col-xl-12">
      </div>
    </div>
  </div>


      <div class="container">
        <div class="row">

        </div>
      </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include footer.js.html %}
    {% include analytics.html %}
  </body>
</html>
